# App
APP_ENV=local
APP_NAME=
APP_PORT=9000

# Logs
LOGS_DIR=
LOGS_FILE_NAME=

# Swagger
SWAGGER_CONTACT_EMAIL=
SWAGGER_CONTACT_URL=
SWAGGER_LICENSE_URL=
SWAGGER_OPEN_API_FILE_DIR=
SWAGGER_OPEN_API_FILE_NAME=
SWAGGER_OPEN_API_VERSION=
